@font-face {
    font-family: "TT Commons Thin";
    src: url("./TT Commons/TT Commons Thin.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Thin Italic";
    src: url("./TT Commons/TT Commons Thin Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Extra Light";
    src: url("./TT Commons/TT Commons ExtraLight.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Extra Light Italic";
    src: url("./TT Commons/TT Commons ExtraLight Italic.otf")
      format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Light";
    src: url("./TT Commons/TT Commons Light.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Light Italic";
    src: url("./TT Commons/TT Commons Light Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Italic";
    src: url("./TT Commons/TT Commons Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Regular";
    src: url("./TT Commons/TT Commons Regular.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Medium";
    src: url("./TT Commons/TT Commons Medium.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Medium Italic";
    src: url("./TT Commons/TT Commons Medium Italic.otf") format("truetype");
  }
  
  // @font-face {
  //   font-family: "TT Commons SemiBold";
  //   src: url("./TT Commons/TT Commons SemiBold.otf") format("truetype");
  // }
  
  // @font-face {
  //   font-family: "TT Commons SemiBold Italic";
  //   src: url("./TT Commons/TT Commons SemiBold Italic.otf") format("truetype");
  // }
  
  @font-face {
    font-family: "TT Commons Bold";
    src: url("./TT Commons/TT Commons Bold.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Bold Italic";
    src: url("./TT Commons/TT Commons Bold Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Black";
    src: url("./TT Commons/TT Commons Black.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Black Italic";
    src: url("./TT Commons/TT Commons Black Italic.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Extra Bold";
    src: url("./TT Commons/TT Commons ExtraBold.otf") format("truetype");
  }
  
  @font-face {
    font-family: "TT Commons Extra Bold Italic";
    src: url("./TT Commons/TT Commons ExtraBold Italic.otf") format("truetype");
  }